@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-padding-top: 100px;
}

body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0.22)), linear-gradient(138.49deg, #39D02B 21.44%, #F10707 58.99%);
    border: 1px solid #000000;
}

html {
    scroll-behavior: smooth;
}
