h1 {
    font-weight: 700;
    font-size: 2.8125rem;
    text-transform: uppercase;
    color: white;
}

h2 {
    font-weight: 600;
    font-size: 2.8125rem;
    text-transform: uppercase;
    color: white;
}

h3 {
    font-size: 1.625rem;
    color: #fff;
}

p {
    font-weight: 400;
    font-size: 1.11875rem;
    color: #fff;
}

figcaption {
    text-transform: uppercase;
    font-size: 0.9375rem;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: rgba(255, 192, 29, 1);
    font-weight: 600;
    font-size: 1.375rem;
}

.menu-direita img {
    opacity: 0;
}